parameters:
	ignoreErrors:
		-
			message: "#^Unable to resolve the template type T in call to function Psl\\\\Regex\\\\first_match$#"
			count: 1
			path: src/Command/TestStubCreateCommand.php

		-
			message: "#^Variable property access on object\\.$#"
			count: 3
			path: src/FailTestExpectedOutputFileUpdater/JsonFileUpdater.php

		-
			message: "#^Call to function Psl\\\\Filesystem\\\\exists\\(\\) with non\\-empty\\-string will always evaluate to true\\.$#"
			count: 1
			path: src/Test/KernelTestCase.php

		-
			message: "#^Method Speicher210\\\\FunctionalTestBundle\\\\Test\\\\KernelTestCase\\:\\:getContainerService\\(\\) should return TService of object but returns object\\.$#"
			count: 2
			path: src/Test/KernelTestCase.php

		-
			message: "#^Call to function Psl\\\\Filesystem\\\\exists\\(\\) with non\\-empty\\-string will always evaluate to true\\.$#"
			count: 1
			path: src/Test/RestControllerWebTestCase.php

		-
			message: "#^PHPDoc tag @extends contains generic type Symfony\\\\Component\\\\Validator\\\\Test\\\\ConstraintValidatorTestCase\\<Symfony\\\\Component\\\\Validator\\\\ConstraintValidatorInterface\\> but class Symfony\\\\Component\\\\Validator\\\\Test\\\\ConstraintValidatorTestCase is not generic\\.$#"
			count: 1
			path: src/Test/Symfony/Validator/ValidatorTestCase.php
