parameters:
    level: max
    paths:
        - src
        - tests
    polluteScopeWithLoopInitialAssignments: true
    reportUnmatchedIgnoredErrors: true

includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
