includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    polluteScopeWithLoopInitialAssignments: true
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
        - '#Call to method Imagick::newimage\(\) with incorrect case: newImage#'
        - '#Call to method Imagick::setimageformat\(\) with incorrect case: setImageFormat#'
        - '#Call to method Imagick::getimageblob\(\) with incorrect case: getImageBlob#'
        - '#Call to method Imagick::readimageblob\(\) with incorrect case: readImageBlob#'
        - '#Call to method Imagick::compareimages\(\) with incorrect case: compareImages#'
        - '#Variable property access on object\.#'
        - '#Speicher210\\FunctionalTestBundle\\Constraint\\[a-zA-Z0-9\\]+::__construct\(\) calls parent constructor but parent does not have one#'
        - '#Call to an undefined static method PHPUnit\\Framework\\Constraint\\Constraint::__construct\(\)#'
        - '#Call to an undefined static method Speicher210\\FunctionalTestBundle\\Constraint\\ResponseContentConstraint::__construct\(\)#'
        - '#Call to function method_exists\(\) with #'
        - '#Class Symfony\\Component\\Config\\Definition\\Builder\\TreeBuilder does not have a constructor and must be instantiated without any parameters#'
        - '#Call to an undefined static method PHPUnit\\Framework\\Constraint\\Constraint::exporter\(\)#'
        - '#Method Speicher210\\FunctionalTestBundle\\Constraint\\ResponseHeaderSame::evaluate\(\) has parameter \$[a-zA-Z]+ with no typehint specified#'
    reportUnmatchedIgnoredErrors: false
